# Python
.venv
__pycache__/
*.pyc

# Node
**/node_modules/
**/dist/
**/*.tsbuildinfo

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# Claude Code
.claude/
